.btn {
  display: inline-block;
  border-bottom: 0.5rem;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  text-decoration: none;
  background: #4ae6aa;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  font-family: 'Montserrat', serif;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: #fff;

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0rem 0.5rem 2.5rem rgba(0, 0, 0, 0.25);
  }

  &:active {
    transform: translateY(0rem);
    box-shadow: 0rem 0.5rem 2.5rem rgba(0, 0, 0, 0.25);
  }

  &:disabled {
    background: #bebebe;
    color: black;
    cursor: unset;

    &:hover {
      transform: none;
      box-shadow: none;
      transition: none;
    }
  }

  &--disabled {
    background: #bebebe;
    color: black;
    cursor: unset;

    &:hover {
      transform: none;
      box-shadow: none;
      transition: none;
    }
  }

  &--red {
    background: #e05151;
  }
}
